<h3>以下の内容で、送信する。</h3>

<%= form_with(model: @blog, local: true) do |form| %>
  <%= form.hidden_field :name %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :code1 %>
  <%= form.hidden_field :code2 %>
  <%= form.hidden_field :code3 %>

  <p>タイトル:<%= @blog.name %></p>
  <p>本文:<%= @blog.content %></p>
  <p>コード1:<%= @blog.code1 %></p>
  <p>コード2:<%= @blog.code2 %></p>
  <p>コード3:<%= @blog.code3 %></p>
  
  <%= form.submit  "登録する" %>
  <%= form.submit "戻る", name: 'back' %>
<% end %>
