<%= render "form" %>

<div class="mb-4 login-page col-6">
  <h2 class="text-center login-title">アカウント編集</h2>
  <%= form_with(model: @user, local: true) do |f| %>
    <div class="string-bold">
      <%= f.label :name, "名前" %>
    </div>
    <div>
      <%= f.text_field :name, class: "col-12" %>
    </div>
    <div class="string-bold">
      <%= f.label :email, "Eメールアドレス" %>
    </div>
    <div>
      <%= f.email_field :email, class: "col-12" %>
    </div>
    <div class="string-bold">
      <%= f.label :password, "パスワード" %>
    </div>
    <div>
      <%= f.password_field :password, class: "col-12" %>
    </div>
    <div class="string-bold">
      <%= f.label :password_confirmation, "パスワード確認" %>
    </div>
    <div>
      <%= f.password_field :password_confirmation, class: "col-12" %>
    </div>
    <%= f.submit "ユーザー情報編集", class: "btn btn-primary session_button col-12" %>
  <% end %>
</div>
